<% include ./partial/header %> <% include ./partial/adminfunction%>
<div
  class="col-sm-6"
  style="    flex: 0 0 50%;
    max-width: 70%;
    margin-left: 431px;
    margin-top: -251px;border: 1px solid pink ;  text-align: -webkit-center;"
>
  <table
    class="content-table"
    style="margin: 50px auto;min-width:400px;width: 90%; box-shadow: 0 0 20px rgba(0,0,0,0.15);"
  >
    <tr
      style="background-color: rgb(9, 1, 19); border-radius: 5px 5px 0 0;overflow: hidden;  color: #ffffff;text-align: left; font-weight: bold;"
    >
      <th>
        Emp Name
      </th>
      <th>Department</th>
      <th>
        From
      </th>
      <th>To</th>
      <th>Days</th>
      <th>Status</th>
      <th></th>
    </tr>
    <%employees.forEach(function(employee){%> <% if(employee.leaves.length>0){%>
    <tr>
      <th><%=employee.name%></th>
      <th><%=employee.department%></th>
      <%employee.leaves.forEach(function(leave){%>
      <td><%=moment(leave.from).format('DD/MM/YYYY')%></td>
      <td><%=moment(leave.to).format('DD/MM/YYYY')%></td>
      <td><%=leave.days%></td>
      <td><%=leave.adminstatus%></td>

      <td>
        <%if(leave.adminstatus==="pending"){%>
        <a
          href="/admin/<%=admin.id%>/leave/<%=employee.id%>/info"
          class="btn btn-block btn-success"
          >more info</a
        >
        <%}%>
      </td>
      <%})}%> <%})%>
    </tr>
  </table>
</div>

<% include ./partial/footer %>
