<% include ./partial/header %> <% include ./partial/empfunction %>

  
    <div class="col-sm-6" style="    flex: 0 0 50%;
    max-width: 50%;
    margin-left: 431px;
    margin-top: -181px; text-align: -webkit-center;">
      <div class="thumbnail">
        <img  style="height:150px;width:150px;border-radius: 100%" src="<%=employee.image%>" />
        <h1><strong>Name:</strong> <%=employee.name%></h1>
        <h4><strong>Type:</strong><%=employee.type%></h4>

        <h4>Username: <%=employee.username%></h4>
        <h4>Department:<%=employee.department%></h4>
        <h4>Email Id: <%=employee.Email%></h4>
      </div>
      <a class="btn btn-warning" href="/employee/<%=employee._id%>/edit">Edit</a>
     
    </div>
   
  </div>
</div>

<% include ./partial/footer %>
